@use "../app/defaults.scss" as *;
@use 'sass:color';

.effortlist {
  overflow-y: auto;
  overflow-x: hidden;
  color: $color-zinc-100;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 6px;
  height: calc(100% - 35rem);
}

.scrollbarHide {
  scrollbar-width: none;
}
