.container {
  background-color: transparent;
  //border: solid 1px black;
  height: calc(100vh - 20px);
  margin-top: -50px;
  margin-left: 30px;
  font-size: 12pt;
}

.treemap {
  background-color: transparent;
}

.item {
  cursor: pointer;
}