@use "../app/defaults.scss" as *;
@use 'sass:color';

.container {
  padding-top: 1.5rem;
  height: 3.5rem;
  z-index: 1500;
  color: $color-zinc-400;
  width: calc(100vw - 5rem);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.grow {
  flex-grow: 1;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: $color-lego-yellow;
  gap: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.maintitle {
  font-size: 1.75rem;
  font-weight: 600;
  background: linear-gradient(135deg, $color-lego-blue 0%, $color-lego-purple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  color: $color-lego-orange;
  padding-bottom: 0.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.version {
  position: relative;
  top: -0.25rem;
  right: 0.75rem;
  font-size: 0.75rem;
  color: $color-zinc-100;
  opacity: 0.5;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

.name {
  font-weight: 600;
  text-align: right;
  color: $color-zinc-100;
}

.email {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: right;
  color: $color-zinc-100;
  opacity: 0.5;
}

.avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-right: 1rem;
}

.userIcon {
  background-color: $color-zinc-100;
  color: $color-zinc-800;
  border: solid 1px $color-zinc-300;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-right: 1rem;
}