@use "../../app/defaults.scss" as *;
@use 'sass:color';

.function {
  font-weight: 200;
  font-size: 1rem;
  color: $color-zinc-300;
  margin-top: 2px;
  margin-bottom: 2px;
  background: rgba(255, 255, 255, 0.2);
  padding: 1px;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 166, 81, 0.2);
    transform: translateY(-1px);
  }
}

.functionCall {
  font-weight: 400;
  color: $color-zinc-700;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.05);
  padding: 6px 10px;
  border-radius: 6px;
}

.functionName {
  font-weight: 600;
  color: $color-lego-green-light;
}

.functionArgs {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  align-self: start;
  justify-content: space-evenly;
  gap: 0.35rem;
  font-size: 0.8rem;
  user-select: none;
  cursor: pointer;
}

.functionArgKey {
  font-weight: 400;
  color: $color-zinc-600;
  font-size: 0.8rem;
}

.functionArgValue {
  font-weight: 400;
  color: $color-zinc-600;
  font-size: 0.8rem;
  user-select: none;
  cursor: pointer;
}