
@use "../../app/defaults.scss" as *;
@use 'sass:color';

h1,
h2,
h3,
h4,
h5,
h6, p, ol, ul, li {
  color: $color-zinc-900;
  font-family: $font-family-sans;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 6px;
  font-weight: 700;
  color: $color-lego-blue-dark;
}

strong {
  font-weight: 600;
  color: $color-lego-orange-dark;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

ol li,
ul li {
  margin: 0 0 4px;
  margin-left: -1rem;
  text-indent: 0;
  padding-left: 0;
}

code {
  background: color.change($color-lego-blue, $alpha: 0.1);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  color: $color-lego-purple-dark;
  border: 1px solid color.change($color-lego-purple, $alpha: 0.15);
  font-family: 'Courier New', monospace;
}

pre {
  background: color.change($color-lego-blue, $alpha: 0.08);
  padding: 8px;
  border-radius: 6px;
  overflow-x: auto;
  border: 1px solid color.change($color-lego-blue, $alpha: 0.15);
  max-height: 200px;
  
  code {
    background: transparent;
    padding: 0;
    border: none;
    font-size: 0.7rem;
    line-height: 1.3;
    color: $color-zinc-800;
    display: block;
  }
}

.container {
  color: $color-zinc-700;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: color.change($color-lego-blue, $alpha: 0.3) transparent;
  mask-image: linear-gradient(180deg, transparent, black 2%);
  height: calc(100% - 26px);
  
  &::-webkit-scrollbar {
    width: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: color.change($color-lego-blue, $alpha: 0.3);
    border-radius: 2px;
  }
}